Node-red-flow
[{"id":"d25386c.c759878","type":"tab","label":"ADC Data Plotter","disabled":false,"info":""},{"id":"ea41bdca.e2028","type":"mqtt in","z":"d25386c.c759878","name":"","topic":"RPi/mcp3008","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":450,"y":180,"wires":[["9ab1c36a.8d1e8"]]},{"id":"9ab1c36a.8d1e8","type":"function","z":"d25386c.c759878","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":653,"y":179,"wires":[["f6eacb0c.3e3118","ca385f4c.fc8a1","2b7ecec8.fe1572"]]},{"id":"f6eacb0c.3e3118","type":"influxdb out","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","measurement":"adc","precision":"","retentionPolicy":"","database":"adc","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":180,"wires":[]},{"id":"ca385f4c.fc8a1","type":"change","z":"d25386c.c759878","name":"ch0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].a0f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["bcfa1fd6.6cc61","c6caebf4.69f8e8"]]},{"id":"c6caebf4.69f8e8","type":"ui_gauge","z":"d25386c.c759878","name":"ch0","group":"4b7594e4.b51a2c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"0","max":"3.3","colors":["#00ff11","#e6e600","#0004ff"],"seg1":".3","seg2":"3","x":950,"y":220,"wires":[]},{"id":"2b7ecec8.fe1572","type":"change","z":"d25386c.c759878","name":"ch1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].a1f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["e7fec00e.1e9c3","39a1ce83.db2c12"]]},{"id":"39a1ce83.db2c12","type":"ui_gauge","z":"d25386c.c759878","name":"ch1","group":"93203653.96b938","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"0","max":"3.3","colors":["#00ff11","#e6e600","#0400ff"],"seg1":".3","seg2":"3","x":950,"y":300,"wires":[]},{"id":"679dffeb.f760e","type":"ui_chart","z":"d25386c.c759878","name":"","group":"4b7594e4.b51a2c","order":4,"width":0,"height":0,"label":"ch0 History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":420,"wires":[[]]},{"id":"23d2a294.b2172e","type":"influxdb in","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":650,"y":420,"wires":[["1932c34f.9595ad"]]},{"id":"f1c7f56b.1f4c78","type":"function","z":"d25386c.c759878","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"adc/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"adc\" and r._field == \"a0f\" and r.device == \"mcp3008\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":420,"wires":[["23d2a294.b2172e"]]},{"id":"1932c34f.9595ad","type":"function","z":"d25386c.c759878","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":420,"wires":[["679dffeb.f760e"]]},{"id":"65026467.c0004c","type":"ui_dropdown","z":"d25386c.c759878","name":"","label":"Date Range","tooltip":"","place":"1d","group":"4b7594e4.b51a2c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":210,"y":420,"wires":[["f1c7f56b.1f4c78"]]},{"id":"2b545968.a569c6","type":"ui_chart","z":"d25386c.c759878","name":"","group":"93203653.96b938","order":4,"width":0,"height":0,"label":"ch1 History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":480,"wires":[[]]},{"id":"bda1552c.021ed8","type":"influxdb in","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":650,"y":480,"wires":[["ac738fd7.70683"]]},{"id":"fa5c94d9.594ae8","type":"function","z":"d25386c.c759878","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"adc/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"adc\" and r._field == \"a1f\" and r.device == \"mcp3008\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":480,"wires":[["bda1552c.021ed8"]]},{"id":"ac738fd7.70683","type":"function","z":"d25386c.c759878","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":480,"wires":[["2b545968.a569c6"]]},{"id":"f9fb335f.ae0ba","type":"ui_dropdown","z":"d25386c.c759878","name":"","label":"Date Range","tooltip":"","place":"1d","group":"93203653.96b938","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":210,"y":480,"wires":[["fa5c94d9.594ae8"]]},{"id":"bcfa1fd6.6cc61","type":"ui_chart","z":"d25386c.c759878","name":"","group":"4b7594e4.b51a2c","order":2,"width":0,"height":0,"label":"ch0","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":260,"wires":[[]]},{"id":"e7fec00e.1e9c3","type":"ui_chart","z":"d25386c.c759878","name":"","group":"93203653.96b938","order":2,"width":0,"height":0,"label":"ch1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":340,"wires":[[]]},{"id":"74736a20.125174","type":"mqtt in","z":"d25386c.c759878","name":"","topic":"RPi/ads1115","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":470,"y":620,"wires":[["eba8b4d8.0b6aa8"]]},{"id":"eba8b4d8.0b6aa8","type":"function","z":"d25386c.c759878","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":673,"y":619,"wires":[["55f16b95.0003a4","e72380b3.0cde1","651625b0.24198c","e655700a.4952e"]]},{"id":"55f16b95.0003a4","type":"influxdb out","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","measurement":"adc","precision":"","retentionPolicy":"","database":"adc","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":620,"wires":[]},{"id":"e72380b3.0cde1","type":"change","z":"d25386c.c759878","name":"ch0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].a0f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":680,"wires":[["c9f1762.e32cd88","8654f009.3bd33"]]},{"id":"651625b0.24198c","type":"debug","z":"d25386c.c759878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":560,"wires":[]},{"id":"8654f009.3bd33","type":"ui_gauge","z":"d25386c.c759878","name":"ch0","group":"6adccf61.14031","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"25","max":"45","colors":["#00ff11","#e6e600","#ff0000"],"seg1":"30","seg2":"35","x":970,"y":660,"wires":[]},{"id":"e655700a.4952e","type":"change","z":"d25386c.c759878","name":"ch1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].a1f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":760,"wires":[["8b58e709.d98118","14be90ea.69830f"]]},{"id":"14be90ea.69830f","type":"ui_gauge","z":"d25386c.c759878","name":"ch1","group":"2c763e5a.dee3d2","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"0","max":"3.3","colors":["#00ff11","#e6e600","#0400ff"],"seg1":".3","seg2":"3","x":970,"y":740,"wires":[]},{"id":"3c4b1b9e.04b8f4","type":"ui_chart","z":"d25386c.c759878","name":"","group":"6adccf61.14031","order":4,"width":0,"height":0,"label":"ch0 History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":860,"wires":[[]]},{"id":"43865ed7.a3fd4","type":"influxdb in","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":860,"wires":[["520b111d.71ed2"]]},{"id":"9fecddc0.a3621","type":"function","z":"d25386c.c759878","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"adc/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"adc\" and r._field == \"a0f\"  and r.device == \"ads1115\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":860,"wires":[["43865ed7.a3fd4"]]},{"id":"520b111d.71ed2","type":"function","z":"d25386c.c759878","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["3c4b1b9e.04b8f4"]]},{"id":"9841d89.bdeb428","type":"ui_dropdown","z":"d25386c.c759878","name":"","label":"Date Range","tooltip":"","place":"1d","group":"6adccf61.14031","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":230,"y":860,"wires":[["9fecddc0.a3621"]]},{"id":"c0a3bd36.9895","type":"ui_chart","z":"d25386c.c759878","name":"","group":"2c763e5a.dee3d2","order":4,"width":0,"height":0,"label":"ch1 History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":920,"wires":[[]]},{"id":"5420df3a.ba156","type":"influxdb in","z":"d25386c.c759878","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":920,"wires":[["bf1d3633.051448"]]},{"id":"f25fa2cd.c6b58","type":"function","z":"d25386c.c759878","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"adc/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"adc\" and r._field == \"a1f\" and r.device == \"ads1115\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":920,"wires":[["5420df3a.ba156"]]},{"id":"bf1d3633.051448","type":"function","z":"d25386c.c759878","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":920,"wires":[["c0a3bd36.9895"]]},{"id":"3759a9d.6adc356","type":"ui_dropdown","z":"d25386c.c759878","name":"","label":"Date Range","tooltip":"","place":"1d","group":"2c763e5a.dee3d2","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":230,"y":920,"wires":[["f25fa2cd.c6b58"]]},{"id":"c9f1762.e32cd88","type":"ui_chart","z":"d25386c.c759878","name":"","group":"6adccf61.14031","order":2,"width":0,"height":0,"label":"ch0","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":700,"wires":[[]]},{"id":"8b58e709.d98118","type":"ui_chart","z":"d25386c.c759878","name":"","group":"2c763e5a.dee3d2","order":2,"width":0,"height":0,"label":"ch1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":780,"wires":[[]]},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"4b7594e4.b51a2c","type":"ui_group","name":"MCP3008 ch0","tab":"d587893f.1cfb78","order":1,"disp":true,"width":"6","collapse":false},{"id":"93203653.96b938","type":"ui_group","name":"MCP3008 ch1","tab":"d587893f.1cfb78","order":2,"disp":true,"width":"6","collapse":false},{"id":"6adccf61.14031","type":"ui_group","name":"ADS1115 ch0","tab":"d587893f.1cfb78","order":3,"disp":true,"width":"6","collapse":false},{"id":"2c763e5a.dee3d2","type":"ui_group","name":"ADS1115 ch1","tab":"d587893f.1cfb78","order":4,"disp":true,"width":"6","collapse":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"d587893f.1cfb78","type":"ui_tab","name":"ADC","icon":"dashboard","order":8,"disabled":false,"hidden":false}]